# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Godot Game Engine ---
# Abaikan folder build & export (Desktop & Web)
godot/builds/
godot/exports/

# Abaikan file preset jika mengandung password keystore/server
godot/export_presets.cfg

# Abaikan file binary besar hasil kompilasi
*.pck
*.wasm

# Abaikan folder aset mentah game (Pemisahan komponen kode vs media)
godot/asset/
# godot/audio/  
# godot/models/ 
